.form-control-transparent{
    background-color: transparent;
    /* width: 500px; */
    height: 35px;
}
.form-control-transparent::placeholder{
    color:rgba(255, 255, 255, 0.422);
    border-color: rgba(255, 255, 255, 0.422);
    
}
.btn-custom{
 background-color: transparent;
 border-color: transparent;
 padding:0% 5% 0% 3%;
 transform: scale(1.3);
 opacity: 0.8;
 
 
}

.btn-custom:hover{
    background-color: transparent;
    border-color: transparent;
}
.location{
    padding-left: 25%;
    padding-top: 5px;

   
}
@media (max-width: 768px) {
    .location{
        padding-left:1%;
        padding-top: 5px;
    }      
    .form-control-transparent{
        margin-top: 2%;
    }
    .btn-custom{
        margin-top:2%;
       }
    
}
.hero,.product-section,.why-choose-section,.we-help-section,.footer-section{
    padding-left: 2%;
    /* padding-right: 2%; */
}
.item1{
    width:70%;
}
.item2{
    width: 30%;
    align-content: center;
    
}

.footer{
    padding-left: 2%;
    padding-right: 0%;
}
.hero-img-wrap{
    min-width: 90px;
    max-width: 250px;
    min-height: 90px;
    max-height: 250px;
    margin-left: 10%;
    
}





/* Ensure the dropdown menu is hidden by default */
.nav-item .dropdown-menu {
    display: none;
    background-color:#36584b; /* Semi-transparent green color */
    backdrop-filter: blur(20px);
    border: none;
     /* Optional: removes the border */
  }
  
  /* Show the dropdown menu on hover */
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  /* Change the text color of the dropdown items */
  .nav-item .dropdown-menu .dropdown-item {
   /* Change this to your desired text color */
  }
  
  /* Change the background color when hovering over a dropdown item */
  .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Change this to your desired hover background color */
  }


  /* cart */
  .cart-margin {
    padding: 0rem 0 12rem 0 !important; }


    .card-body{
        border-radius:10px;
        background-color: #ebe9e9;
     
        box-shadow: rgb(55, 55, 55) 0px 2px 5px;
    }

    .title{
        color:rgb(54 88 75);
    }

   .row{
    justify-content: space-around;
   }

   .row>*{
    padding: 0;
   }

   .product{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: .4rem;
    margin: 0 .25rem 0 .25rem;
   }
