.form-control-transparent{
    background-color: transparent;
    /* width: 500px; */
    height: 35px;
}
.form-control-transparent::placeholder{
    color:rgba(255, 255, 255, 0.422);
    border-color: rgba(255, 255, 255, 0.422);
    
}
.btn-custom{
 background-color: transparent;
 border-color: transparent;
 padding:0% 5% 0% 3%;
 transform: scale(1.3);
 opacity: 0.8;
 
 
}

.btn-custom:hover{
    background-color: transparent;
    border-color: transparent;
}
.location{
    padding-left: 25%;
    padding-top: 5px;

   
}
@media (max-width: 768px) {
    .location{
        padding-left:1%;
        padding-top: 5px;
    }      
    .form-control-transparent{
        margin-top: 2%;
    }
    .btn-custom{
        margin-top:2%;
       }
.hero{
    padding-left: 2%;
    /* padding-right: 2%; */
}
    
}
.item1{
    width:70%;
}
.item2{
    width: 30%;
    
}
